<!doctype html>
<html lang="en">
  <head>
    <title>Car Bono</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="./views/css/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .slider {
        background: url("./views/img/1190.jpg");
        height: 380px;
        background-size: cover;
      }
    
      .footer {
        background: url("./views/img/pizarra.jpg");
        
      }
      .navbar{
        background-color: rgb(17, 16, 16);
      }
    </style>
  </head>
  <body>
      <header>
      <div class="container-fluid">
          <div class="row cabecera">
              <div class="col-4 justify-content-left">
                  <img src="./views/img/logo1.PNG" height="150px">
              </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              <ul class="navbar-nav py-2">
                <li class="nav-item active pr-5">
                  <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pr-5">
                  <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
                <li class="nav-item pr-5">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Buscar</a>
                </li>
                <li class="nav-item pr-5">
                  <a class="nav-link" href="#">Instalaciones</a>
                </li>
                <li class="nav-item pr-5">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                <li class="nav-item active pr-5 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="index.php?vista=1">Login</a>
                      <a class="dropdown-item" href="index.php?vista=2">Registro nuevo usuario</a>
                    </div>
                </li>
              </ul>
            </div>
          </nav>
      </header>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i> Aviso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3 class="text-danger">Debe estar registrado para realizar una búsqueda</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid text-center slider text-black py-5" >
          <h3>¿Estás buscando un coche nuevo?</h3>
          <h1 class="display-4">Solicita información sin compromiso</h1>

          <form class="form-inline d-flex justify-content-center">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Escribe tu email...">
            </div>
            <button type="submit" class="btn btn-primary mb-2 bg-danger">Enviar</button>
          </form>
      </div>

      <div class="container justify-content-center my-5 py-4  border">
        <form>
            <h2 class="display-4"><i class="fas fa-search"></i> Filtro de búsqueda</h2>
            <hr>
            <div class="form-group row">
                <label for="inputMarca" class="col-sm-2 col-form-label">Marca</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputMarca" placeholder="Marca" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputModelo" class="col-sm-2 col-form-label">Modelo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputModelo" placeholder="Modelo">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputColor" class="col-sm-2 col-form-label">Color</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputColor" placeholder="Color">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputAnio" class="col-sm-2 col-form-label">Año de matriculación</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="inputAnio" placeholder="Año de matriculación">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputMotor" class="col-sm-2 col-form-label">Motor</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="inputMotor" placeholder="Motor">
                </div>
              </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Combustible</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gasolina" id="gasolina" value="gasolina" checked>
                    <label class="form-check-label" for="gasolina">
                      Gasolina
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="diesel" id="diesel" value="diesel">
                    <label class="form-check-label" for="diesel">
                      Diesel
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Nº Puertas</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="5p" id="5p" value="5p" checked>
                      <label class="form-check-label" for="5p">
                        5 puertas
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="3p" id="3p" value="3p">
                      <label class="form-check-label" for="3p">
                        3 puertas
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            <div class="form-group row">
              <div class="col-sm-2">Extras</div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="aire">
                  <label class="form-check-label" for="aire">
                    Aire acondicionado
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="eleva">
                  <label class="form-check-label" for="eleva">
                    Elevalunas electrico
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remolque">
                  <label class="form-check-label" for="remolque">
                    Remolque
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="airbag">
                  <label class="form-check-label" for="airbag">
                    Airbag
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="navegador">
                  <label class="form-check-label" for="navegador">
                    Navegador
                  </label>
                </div>
                </div>
              </div>
            <div class="form-group row">
              <div class="col-sm-10">
                  <hr>
                <button type="submit" class="btn btn-primary mt-3">Buscar</button>
              </div>
            </div>
          </form>
      </div>
      <footer class=" footer container-fluid text-center text-white"> 
        <div class="row pt-2">
          <div class="col-lg-4 col-sm-12">
            <h4>¿Qué hacemos?</h4>
            <ul class="list-unstyled pt-3">
              <li>Información detallada</li>
              <li>Seguimiento de jovenes promesas</li>
              <li>Análisis de los equipos</li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h4>Redes sociales</h4>
            <div class="row pt-3">
              <div class="col-12">
                <i class="fab fa-twitter-square fa-2x pr-4"></i>
                <i class="fab fa-instagram fa-2x pr-4"></i>
                <i class="fab fa-facebook-square fa-2x pr-4"></i>
                <i class="fab fa-linkedin fa-2x pr-4"></i>
              </div>
            </div>
            
          </div>
          <div class="col-lg-4 col-sm-12">
            <h4>¿Quienes somos?</h4>
            <ul class="list-unstyled pt-3">
              <li>Joaquín Bono Pineda</li>
              <li>joaquinbono.18@campuscamara.es</li>
              <li>Alcalá de Guadaira, Sevilla</li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright: Joaquín Bono
        </div>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e13faebda0.js" crossorigin="anonymous"></script>
  </body>
</html>