<!doctype html>
<html lang="en">
  <head>
    <title>Car Bono</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="./views/css/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

      <div class="container justify-content-center my-5 py-4  border">
        <form  action="./controllers/user_controller.php" method="POST">
            <h2 class="display-4"><i class="fas fa-search"></i> Filtro de búsqueda</h2>
            <hr>
            <div class="form-group row">
                <label for="inputMarca" class="col-sm-2 col-form-label">Marca</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputMarca" name="marca" placeholder="Marca" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputModelo" class="col-sm-2 col-form-label">Modelo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputModelo" name="modelo" placeholder="Modelo">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputColor" class="col-sm-2 col-form-label">Color</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputColor" name="color" placeholder="Color">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputAnio" class="col-sm-2 col-form-label">Año de matriculación</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="inputAnio" name="anio_matriculacion" placeholder="Año de matriculación">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputMotor" class="col-sm-2 col-form-label">Motor</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="inputMotor" name="motor" placeholder="Motor">
                </div>
              </div>
            <div class="form-group row">
              <label for="inputPrecio" class="col-sm-2 col-form-label">Precio</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPrecio" name="precio" placeholder="Precio">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputKm" class="col-sm-2 col-form-label">Kilometros</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="inputKm" name="kms" placeholder="Kilometros">
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Combustible</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="combustible" id="gasolina" value="Gasolina">
                    <label class="form-check-label" for="gasolina">
                      Gasolina
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="combustible" id="diesel" value="Diesel">
                    <label class="form-check-label" for="diesel">
                      Diesel
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Nº Puertas</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="puertas" id="5p" value="5p">
                      <label class="form-check-label" for="5p">
                        5 puertas
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="puertas" id="3p" value="3p">
                      <label class="form-check-label" for="3p">
                        3 puertas
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            <div class="form-group row">
              <div class="col-sm-2">Extras</div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="aire" id="aire">
                  <label class="form-check-label" for="aire">
                    Aire acondicionado
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="eleva" id="eleva">
                  <label class="form-check-label" for="eleva">
                    Elevalunas electrico
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="remolque" id="remolque">
                  <label class="form-check-label" for="remolque">
                    Remolque
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="airbag" id="airbag">
                  <label class="form-check-label" for="airbag">
                    Airbag
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="navegador" id="navegador">
                  <label class="form-check-label" for="navegador">
                    Navegador
                  </label>
                </div>
                </div>
              </div>
            <div class="form-group row">
              <div class="col-sm-10">
                  <hr>
                <button type="submit" class="btn btn-primary mt-3"  value="Buscar" name="Buscar">Buscar</button>
              </div>
            </div>
          </form>
      </div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e13faebda0.js" crossorigin="anonymous"></script>
  </body>
</html>